h1{
   color:black;
   background-color:white;
   font-family:Akaya Telivigala, Montserrat;
   font-size: 80px;
   text-align: center;
   border: 10mm ridge rgba(255, 0, 0, 1);
}
h2{
   color:black;
   background-color:white;
   font-family:Roboto;
   font-size: 60px;
   text-align: center;
   border: 3mm solid rgba(9, 82, 40, .8);
}
h3{
   color: rgba(255, 0, 0, 1);
   background-color:white;
   font-family:Helvetica;
   font-size: 40px;
   text-align: center;
   border: 3mm outset rgba(255, 0, 0, 1);

}
p{
   color:black;
   background-color:white;
   font-family:Helvetica;
   font-size: 40px;
   text-align: justify;
   border: 3mm ridge rgba(0, 0, 0, 0.6);
}
intro{
    text-align: left;
    color: black;
    background-color:white;
    font-family:Helvetica;
    font-size: 30px;
    text-align: center;


}

body{
   color:black;
   font-family:Helvetica;
   text-align: justify;
}
b{
   color: black;
   font-family:Helvetica;
   font-size: 50px;
   text-align: center;

}
img{
    margin-right: auto;
}

strong{
    font-weight: bold;
    font-size:50px;
    text-align: left;
}
.name{
    display: block;
    position:fixed;
    bottom: 0px;
    right:0px;
    font-size: 28px;
    background-color:white;
    border: 3mm outset rgba(255, 0, 0, 1);

}
.name:hover{
    background-color:lightgray;
    border: 3mm outset rgba(9, 82, 40, 1);

}
.nameb{
    display: block;
    position:fixed;
    top: 0px;
    right:0px;
    font-size: 28px;
    background-color:white;
    border: 3mm outset rgba(255, 0, 0, 1);
    transition: opacity 1s;
    height: 6%;

}
.nameb:hover{
    opacity:0;
    height: auto;

}
.namebis{
    opacity: 0;
    display: block;
    position:fixed;
    top: 0px;
    right:0px;
    font-size: 28px;
    background-color:white;
    border: 3mm outset rgba(255, 0, 0, 1);
    transition: opacity 1s;
    height: 8%;
    
}
.namebis:hover{
    opacity:1;
    height: auto;

}
Bor{
    display:inline-flex;
    float:left;
    background-color: rgba(255, 255, 255, .5);
    border: 3mm inset rgba(0, 0, 0, 1);
}
.accompagnementimage4{
    display: block;
    margin-left:750px;

}
.textacompagnateurimage5{
    display: flex;
    color:black;
    background-color:white;
    font-family:Helvetica;
    font-size: 40px;
    text-align: left;
    float: left;
    border: 3mm ridge rgba(0, 0, 0, 0.6);
    margin-right: 700px;
    margin-left: 50px;
    margin-top: -600px;
}
.accompagnementimage8et9{
    display: flex;
    color:black;
    background-color:white;
    font-family:Helvetica;
    font-size: 40px;
    text-align: left;
    float: left;
    border: 3mm ridge rgba(0, 0, 0, 0.6);
    margin-bottom: 6%;

}
txtvideo{
    display: block;
    color:black;
    background-color:white;
    font-family:Helvetica;
    font-size: 40px;
    text-align: justify;
    border: 3mm ridge rgba(0, 0, 0, 0.6);
    margin-left:650px;
}
.image1{
    display: block;
    float: none;
    margin-left:auto;
    margin-right: auto;
}
.image2{
    display: block;
    float: left;

}
.image3{
    display: block;
    float:left;
    width: 720px;
    height: 600px;
}
.image4{
    display: block;
    float:left;
}
.image5{
    display: block;
    float: right;
}
.tbas{
    display: block;
    float: none;
    margin-top:650px;
}
.pbas{
    display: block;
    float: none;
    margin-top:777px;
}
.noms{
    display:block;
    color: white;
    border: 3mm ridge rgba(9, 82, 40, 1);
    background-color:rgba(9, 82, 40, 1);
    position:fixed;
    bottom: 0px;
    left:0px;

}
.noms:hover{
    color: black;
    background-color:lightgray;
    border: 3mm ridge rgba(255, 0, 0, 1);

}
video{
    display: flex;
    float: right;
    margin-right: 10px;
}
.insta{
    display: block;
    color:black;
    background-color:white;
    font-family:Helvetica;
    font-size: 40px;
    text-align: right;
    float: right;
    border: 3mm ridge rgba(0, 0, 0, 0.6);
    margin-left: 850px;

}
.image6{
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    border: 3mm ridge rgba(255, 0, 0, 1);
}
.image8{
    display: block;
    float: right;
    margin-right: auto;
}
.image9{
    display: block;
    float: left;
    margin-left: auto;
}
.image7{
    display: block;
    float: none;
    width: 1100px;
    height: 600px;
    margin-left: 210px;
    border: 3mm ridge rgba(255, 0, 0, 1);
}
left{
    display: block;
    text-align: left;
    float: left;
}
right{
    display: block;
    text-align: right;
    float: right;
}
bas{
    background-color: rgba(9, 82, 40, .8);
    border: 20mm simple rgba(9, 82, 40, .8);
}
.final{
    display: block;
    float: left;
    margin-left: -10px;
    margin-right: 0px;
    margin-bottom: -200px;
    width: 101.2%;
    height: 200px;
}
.Textefinal{
    display: block;
    position: relative;
    float: none;
    text-align: left;
    color: white;
    font-style: italic;
    font-family:Helvetica;
    font-size: 30px;
    margin-bottom: -68px;

}
.Textefinal2{
    display: block;
    position: relative;
    float: none;
    text-align: center;
    color: white;
    font-style: italic;
    font-family:Helvetica;
    font-size: 30px;
    margin-bottom: -68px;
    

}
.Textefinal3{
    display: block;
    position: relative;
    float: right;
    text-align: right;
    color: white;
    font-style: italic;
    font-family:Helvetica;
    font-size: 30px;    

}

.Textefinalp2{
    display: block;
    position: absolute;
    float: none;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: Helvetica;
    font-size: 30px;
    margin-left: 0%;
    margin-top: 60%; 

}
.Textefinal2p2{
    display: block;
    position: absolute;
    float: none;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: Helvetica;
    font-size: 30px;
    margin-left: 45%;
    margin-top: 60%; 

}
.Textefinalp3{
    display: block;
    position: absolute;
    float: none;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: Helvetica;
    font-size: 30px;
    margin-left: 0%;
    margin-top: 47.5%; 

}
.Textefinal2p3{
    display: block;
    position: absolute;
    float: none;
    text-align: center;
    color: white;
    font-style: italic;
    font-family: Helvetica;
    font-size: 30px;
    margin-left: 45%;
    margin-top: 47.5%; 

}
.button{
    display: block;
    float: right;
    text-align: center;
    color: black;
    font-style: italic;
    font-family: Helvetica;
    font-size: 30px;


}
.button:hover{
    background-color: rgba(0, 0, 0, .5);

}